* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ccc;
}

/* Navbar */
.nav {
  min-height: 42px;
  background-color: #EF5122;
  display: flex;
  justify-content: space-between;
}

.nav-list {
  padding-left: 0;
  margin: auto 16px;
}

.nav-item {
  color: #fff;
  list-style: none;
  margin: 0 8px;
  display: inline-block;
}

/* Form layout */
.form-container {
  max-width: 720px;
  padding: 32px;
  margin: 36px auto 0 auto;
  background-color: #fff;
}

.form__row {
  padding: 8px 0;
  display: flex;
}

.form__label {
  min-width: 90px;
}

.form__input {
  flex: 1;//neu co 1 thang flex=1 ->co gan chiem het with no co the chiem
}

/* Column layout */
.column-layout {
  margin-top: 36px;
  padding: 12px 0;
  background-color: #fff;
  display: flex;
}

.column-item {
  padding: 0 16px;
  flex: 1;//all co flex  co kinh thuoc = nhau theo main axis
}

.sidebar-one {
  order: 1;
}

.sidebar-two {
  order: 2;
}

.main-column {
  order: 3;
  /*flex: 5; se gap 5 lan cac thang co plex = 1*/
}

/* Feature layout */
.feature-layout {
  margin-top: 36px;
  display: flex;
  justify-content: space-evenly;
}

.feature-item {
  padding: 12px 16px;
  margin-top: 16px;
  flex-basis: 30%;
}

/* PC, Tablet */
@media (min-width: 740px) {

}

.feature-item {
  padding: 12px 16px;
  margin-top: 16px;
}

.feature-item:nth-child(1) {
  background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
  background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
  background-color: rgb(226, 192, 227);
}

/* Wrap layout */
.wrap-layout {
  background-color: #fff;
  margin-top: 36px;
  padding: 12px 0 32px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.wrap-layout__item {
  width: 148px;
  height: 90px;
  color: #fff;
  text-align: center;
  line-height: 90px;
  font-size: 48px;
  font-weight: 700;
  margin-top: 20px;
  background-color: #EF5122;
}

/* Center layout */
.center-layout {
  background-color: rgb(192, 227, 194);
  margin: 36px auto 0 auto;
  padding: 32px 0;
  max-width: 640px;
  height: 360px;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center; c2*/
}

.center-layout__item {
  font-size: 42px;
  font-weight: 700;
  margin: auto;
}

/* Chart layout */
.chart-layout {
  margin: 36px auto 0 auto;
  padding: 32px 0;
  height: 320px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.chart-layout__item {
  width: 60px;
  color: #fff;
  text-align: center;
  height: var(--percent);
  background-color: #EF5122;
  animation: growth ease-in 0.5s;
}

@keyframes growth {
  from {
    opacity: 0;
    height: calc(var(--percent) - 50%);
  }
  to {
    height: calc(var(--percent));
    opacity: 1;
  }
}

/* End */
.the-end {
  margin: 12px auto 48px auto;
  padding: 32px 0;
  max-width: 740px;
  min-height: 360px;
  display: flex;
}

.the-end__first {
  padding: 4px 16px;
  background-color: #fff;
  flex: 1;
}

.the-end__second {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.the-end__second-one {
  padding: 4px 16px;
  background-color: rgb(227, 192, 214);
  flex: 1;
}

.the-end__second-two {
  padding: 4px 16px;
  background-color: rgb(192, 210, 227);
  flex: 1;
}

@media (max-width: 739px) {
  .feature-layout {
    flex-direction: column!important;
  }

}