@media (min-width: 1024px) {

}

@media (max-width: 1023px) {
  .btn {
    padding: 15px 16px;
  }

  #nav .subnav a {
    padding: 5px 12px;
  }

  .contact-info {
    line-height: 2;
  }

  .contact-form .form-control {
    padding: 15px;
  }

  .social-list {
    font-size: 48px;
  }

  .social-list a {
    margin: 0 8px;
  }

  #footer .copy-right a {
    padding: 12px 0;
    display: inline-block;
  }

}
@media (max-width: 739px) {
  .s-col-full,
  .s-full-width {
    width: 100%;
  }

  .s-mt-8 {
    margin-top: 8px;
  }

  #header {
    overflow: hidden;
  }

  #nav {
    display: block;
  }

  #nav .subnav {
    position: initial;
    background-color: #333;
  }

  #nav .subnav li a {
    color: #fff;
    padding: 5px 40px;
  }

  #nav li,
  #nav li a,
  #nav li:hover a {
    display: block;
  }

  #nav > li:first-child {
    display: inline-block;
  }

  #header .mobile-menu-btn {
    display: block;
  }

  #header .search-btn {
    display: none;
  }


  #content .member-img {
    width: 60%;
  }

  .contact-form {
    margin-top: 32px;
  }
}