/*resset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common */
html {
  scroll-behavior: smooth;
  font-family: helvetica, arial, sans-serif;
}

.clear {
  clear: both;//clear float cho img-item
}

.text-white {
  color: white!important;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row:after {
  content: " ";
  display: block;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-third {
  width: 33.333%;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

.text-center {
  text-align: center !important;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.btn {
  color: white;
  background-color: #000000;
  text-decoration: none;
  padding: 11px 17px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #cccccc;
}

.pull-right {
  float: right !important;
}

/**/
#header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 46px;
  background-color: #000;
  z-index: 3;
  overflow: hidden;
}

#nav {
  display: inline-block;
}

#nav li {
  display: block;
}

#nav > li {
  display: inline-block;
  position: relative;
}

#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
  display: inline-block;
}

#nav .subnav {
  display: none;
  min-width: 160px;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/*con truc tiep*/
#nav > li > a {
  color: white;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
}

#nav .subnav a {
  color: black;
  padding: 0 12px;
  line-height: 38px;
}

.subnav li:hover {
  color: black;
  background-color: #ccc;
}

#nav li:hover .subnav {
  display: block;
}

.nav-arrow-down {
  font-size: 14px;
  line-height: 46px;
}

#header .mobile-menu-btn,
#header .search-btn {
  padding: 0 21px;
  float: right;// chuyen sang phai va de luon thuoc tinh block
}

#header .mobile-menu-btn {
  background-color: #ccc;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

.menu-icon,
.search-icon {
  color: white;
  font-size: 20px;
  line-height: 46px!important;
}

#header .mobile-menu-btn:hover .menu-icon {
  color: black;
}

#slider {
  position: relative;
  margin-top: 46px;
  background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat;
  padding-top: 50%;//important note
}

.text-content {
  color: white;
  text-align: center;
  position: absolute;
  bottom: 47px;
  width: 100%;
  /*left: 50%;//c2*/
  /*transform: translateX(-50%);*/
}

#slider .text-heading {
  font-size: 24px;
  font-weight: 500;

}

#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

#content {

}

#content .content-section {
  width: 800px;
  max-width: 100%;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.section-heading,
.section-sub-heading {
  text-align: center;
}

.section-heading {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
}

.section-sub-heading {
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
  margin: 15px auto;
}

.about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 46px;
  /*overflow: hidden; c1*/
}

#content .member-img {
  width: 154px;
  border-radius: 4px;
  margin-top: 15px;
}

#content .tour-section {
  background-color: black;
}

.ticket-list {
  background-color: white;
  margin-top: 40px;
}

.ticket-list li {
  list-style-type: none;
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}

.ticket-list .quantity {
  float: right;
  margin-top: -3px;
  width: 24px;
  height: 24px;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 24px;
  border-radius: 50%;
}

.place-list {
  margin-top: 32px;
}

.place-item {
  width: 33.3333%;
}

.place-body {
  background-color: white;
  padding: 16px;
  font-size: 15px;
}

.place-img {
  width: 100%;
  display: block;//bot tao khoang cach
}

.place-img:hover {
  opacity: 0.6;
}

.place-heading {
  font-size: 15px;
  font-weight: 600;
}

.place-time {
  margin: 15px auto;
  color: #757575;
}

.place-description {
  line-height: 1.6;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.open {
  display: flex;
}

.modal-container {
  width: 900px;
  max-width: calc(100% - 32px);
  background-color: white;
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease .5s;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: white;
  opacity: 0.7;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-header {
  background-color: #009688;
  color: white;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header .modal-header-icon {
  padding-right: 10px;
}

.modal-body {
  padding: 16px;
  font-size: 15px;
}

.modal-label {
  display: block;
  margin-bottom: 12px;
}

.modal-input {
  margin-bottom: 24px;
  width: 100%;
  font-size: 15px;
  padding: 8px;

}

.modal-pay {
  width: 100%;
  font-size: 16px;
  padding: 8px;
  background-color: #009688;
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  opacity: 1;
}

.modal-pay:hover {
  opacity: 0.7;
}

.modal-footer {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 16px;
}

.modal-footer a {
  color: #2196F3;
}

.contact-content {
  margin-top: 48px;
}

.contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-info i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}

.contact-form {
  font-size: 15px;
}

.contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.contact-form .form-control:focus-visible {
  outline: 1px solid blue;
}

.map-section img {
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list {
  font-size: 24px;
}

#footer .social-list a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copy-right a:hover,
#footer .social-list a:hover {
  opacity: 0.4;
}

#footer .copy-right {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}

#footer .copy-right a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
